<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar</title>
    <link rel="stylesheet" href="../../CSS/styles.css"/>
</head>
<body>
		<div id="mainContainer">
	<nav>
    	<p id="titleNav">Pedidos realizados</p>
    	<img id="imgNav" src="../../img/car.png" alt="Borre un pedido" title="Borre un pedido"></img>
    	<div id="actions">
    		<a id="finishSessionNav" href="../../login/exit">
				<img id="finishSessionCatalogue" alt="Cerrar sesión, se perderán los pedidos no finalizados" src="../../img/finishSession.png" title="Cerrar sesión, se perderán los pedidos no finalizados"/>
			</a>
    	</div>
    </nav>
		<!-- Modal -->
<div  id="myModal" class="modal">
	  	<!-- Modal content -->
  		<div class="modal-content">
	    	<h3>Borrar pedido</h3>
	    	<p id="textModel">¿Desea borrar este pedido?, esta acción no se puede deshacer</p>
			<div>
				<a class="danger" th:href="'/order/delete/' + ${id}" id="resumeOrder">Borrar pedido</a>
				<a href="/orders" id="deleteOrder">No borrar</a>
			</div> 
  		</div>
	</div>
	
</body>
</html>